/* Navbar container */
body {
	background-color: black;
	color: white;
	font-family: "Helvetica";
}

.navbar h2{
	padding: 4px 25px;
}

.navbar h2.title{
	
	color:white;
}

.navbar h2.title b.HUB{
	
	color: black;
	background-color: orange;
	border: 5px solid orange;
	border-left-width: thin;
	border-right-width: thin;
	border-radius: 5px;
}

.navbar h2.title b.PAZ{
	
	color: white;
	font-family: "Helvetica";
	font-size: 30px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.active {
  background-color: #0F0F0F;
  border-bottom: 5px white;
  border-bottom-style: solid;
  border-bottom-color: orange;
}
.navbar a.still {
  background-color: #0F0F0F;
  border-bottom: 5px white;
  border-bottom-style: solid;
  border-bottom-color: orange;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #5F5F5F;
}

.videos a {
  float: left;
  font-size: 16px;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Helvetica";
}

.videos a:hover {
  float: left;
  font-size: 16px;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Helvetica";
  text-decoration: underline;
}

.form-box{
    padding: 1rem;
    clear: both;
    width: 100%;
    position: relative;
}
.form-box label{
    font-size: 1rem;
    float: left;
    width: 100px;
    margin-right: 20px;
}
.form-box input{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box select{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box option{
    font-size: 1rem;
    width: 300px;
    padding: 0.25rem 1rem;
}
.form-box input[type="checkbox"]{
    font-size: 1rem;
}
.form-box button{
	font-size: 20px;
	padding: 10px 12px;
	margin-right: 1rem;
	color: white;
	background-color: orange;
	cursor: pointer;
	border: 1px solid orange;
	border-left-width: thin;
	border-right-width: thin;
	border-radius: 5px;
}
.form-box2 input{
    font-size: 25px;
	padding: 10px 12px;
	margin-right: 1rem;
	color: black;
	background-color: orange;
	cursor: pointer;
	border: 1px solid orange;
	border-left-width: thin;
	border-right-width: thin;
	border-radius: 5px;
}
        
.error::after{
    background-color: hsl(10, 60%, 50%);
    color: papayawhip;
    font-size: 1rem;
    line-height: 1.8;
    width: 350px;
    padding-left: 1rem;
    position:absolute;
    right: 0;
    content: attr(data-errormsg);
}


.paginas{
	width: 100%;
	botton: 0px;
}

.paginas a {
  margin: 10px auto;
  width: 15px;
  height: 15px;
  background-color: orange;
  float: left;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  font-size: 16px;
  font-family: "Helvetica";
  text-decoration: none;
  color:black;
  position: relative;
  bottom: 0px;
}

.paginas a:hover {
  margin: 10px auto;
  width: 15px;
  height: 15px;
  background-color: #070707;
  float: left;
  padding: 10px;
  border: 2px solid black;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-family: "Helvetica";
  text-decoration: underline;
  color: orange;
}